.header-user {
    display: flex;
    justify-content: space-between;
}

.header-user .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-user .logo img {
    height: 85px;
    width: auto;
}