.ResultQuiz{
    display: flex;
    width: 100vw;
    padding: 40px 60px;
    flex-direction: column;
    align-items: center;
    gap: 60px;   
    
}

h1{
    margin-top: 6%;
}

.ResultQuiz main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}


.ResultQuiz .imagem{
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
   
}



.ResultQuiz .container{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-right:50%;
    margin-top: 5%;
}

.ResultQuiz .boxNivel{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 150%;
    margin-left: 70%;
    margin-top: 7%;
   


}

.ResultQuiz .nivel{
    color: #06D6A0;
    font-weight: bold;
  
}

.ResultQuiz .box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;

    /*border: #012811 solid 10px;*/
    
}

h3{
    color: var(--Blue_dark, #073B4C);
    text-align: center;
    
    font-size: 20px;
    font-style: normal;
 
}

hr{
    max-width: 85%;
    width: 85%;
    color: black;
   

}