.drop{
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.drop ul{
    background-color:azure;
    align-items: center;
    position: absolute;
    padding: 0;
    list-style: none;

}

.drop ul li{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 3%;
    border: 5%;

    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
    border:1px solid #c0c0c0;

    list-style:none;
}

.drop li{
    width: 100px;
    margin: 1px 1px;
}