@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none; 
  list-style: none;
}
a {
  font-weight: 500;
  text-decoration: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  color: #616161;
  background-color: #F1F4FE;

  font-size: sans-serif;
}

h1 {
  color: #073B4C;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  /* color: #073B4C; */
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
  padding: 0;
}

strong {
  color: #073B4C;
}

p {
  /* color: #616161; */
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  opacity: 90%;
}