.screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* max-width: 1440px; */
}

 .container {
    display: flex;
     flex: 2; 
    
    flex-direction: column;
    background-color: #F1F4FE;
    padding: 60px 40px;
} 

header {
    display: flex;
    align-items: center;
}

.banner img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
}