/* aspecto geral da barra */
.custom-progress-bar {
    width: 60%;
    background-color: #ccc;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 20%;
    
  }
  /* progresso da barra */
.custom-progress-bar .bar {
    width: 0;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color:  white;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
    
  }
  
