.CreateQuizForm {
    display: flex;
    width: 100vw;
    padding: 40px 60px;
    flex-direction: column;
    align-items: center;
    gap: 87.5px;   
}

.CreateQuizForm main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}   

.CreateQuizForm form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
}


.CreateQuizForm form input::placeholder, input[type="date"]::-webkit-calendar-picker-indicator{
    color: #616161;
    
}

.CreateQuizForm div label h2{
    margin-bottom:1.25rem;
   
}

.CreateQuizForm .btn-next{
    border-radius: 4px;
    background: #118AB2;
    color: #F1F4FE;
    padding: 16px 24px; 
    margin-top: 80px;
}

.CreateQuizForm form input {
    height: 62px;
    width: 100%;
    padding: 20px 24px;
    border-radius: 4px;
    border: 1px solid #616161;
    background-color: #F1F4FE;
    font-size: 20px;
}

.CreateQuizForm .quizname {

    width: 100%;
    padding: 20px 24px;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Gray_dark, #616161);

}

.CreateQuizForm .description {
  
    height: 236px;
    width: 100%;
    padding: 20px 24px;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Gray_dark, #616161);
  }
  

  