.screen {
    display: flex;
    background-color: #F1F4FE;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}


.progress{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-left: 200px;
    
}

.info{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.statement{
    display: flex;
    width: 100%;
    padding: 103px 410px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: rgba(0, 102, 255, 0.26);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.answers{
    display: flex;
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 36px;
}

.button{
    display: flex;
    width: 600px;
    height: 80px;
    padding: 0px 12px;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;

    border-radius: 8px;
    background: #1C77FF;
    color: #F1F4FE;
}

.button h2{
    color: #F1F4FE;
}