.ranking {
    display: flex;
    background-color: #F1F4FE;
    width: 100vw;
    min-height: 100vh;
    
}

.ranking main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    flex: 1;
    padding: 60px 60px 60px 60px;

    margin-left: 380px;
}

.ranking main h1 {
    text-align: center;
}

.ranking section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ranking section .user-ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 560px;
    padding: 12px 16px;
    border-radius: 40px; 
}

.ranking section .user-ranking h2 {
    color: #F1F4FE;
}

.ranking section .user-ranking .photo-and-username {
    display: flex;
    gap: 24px;
    align-items: center;
}

.ranking section .user-ranking img {
    width: 80px;
}

.ranking .first-place {
    background-color: #06D6A0;
}

.ranking .dark-blue {
    background-color: #073B4C;
}