.error {
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8%;
}

.error .btn-sign {
    color: #F1F4FE;
    background-color: #073B4C;
    border-radius: 8px;
    display: flex;
}

.error h2 {
    padding: 10px;
}
