.historic { 
    display: flex;
    background-color: #F1F4FE;
    width: 100vw;
    min-height: 100vh;
}

.historic main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    /* width: calc(100vw - 380px); */

    padding: 60px 60px 0 60px;
    margin-left: 380px;
}   

.historic .painel {
    display: block;
    height: 308px;
    padding: 40px 0px;

    justify-content: center;
    background-color: #CFEEFF;

    border-radius: 20px;
    background: var(--Green_light, #CFEEFF);
}

.historic h3 {
    color: var(--Blue_dark, #073B4C);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
}

.historic .painel-ofensiva {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.historic .ball {
    display: flex;


    width: 40px;
    height: 40px;
    padding: 2px 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--Yellow, #FFD166);
}

.historic .infos {
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    padding-top: 60px;
    gap: 10px;
}

.historic h6 {
    color: var(--Blue_dark, #073B4C);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.53px;
}